body {
    font-family: Arial, sans-serif;
    font-size: 150%;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
header {
    background-color: #cccccc;
    text-align: center;
}
nav {
/*     background-color: #cccccc; */
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}
nav img {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}
nav ul {
    width: 70%;
    display: inline-block;
    text-align: left;
}
nav li {
    display: inline-block;
    padding: 20px;
    text-align: center;
}   
main {
    background-color: #f1f521;
    text-align: center;
}
footer {
    background-color: #cccccc;
    text-align: center;
}
h1 {
    font-family: Brush Script MT, cursive;
    color: #3836a0;
    text-align: center;
    width: 100%;
}
p {
    line-height: 1.5;
}
footer p {
    font-size: 80%;
    line-height: 1.2;
}
a, a:visited {
    text-decoration: underline;
}
a:hover {
    font-size: 110%;
    text-decoration: none;
}
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    padding: 20px 0px;
}
.grid img {
    width: 100%;

}
.flex {
    display: flex;
/*     flex-direction: row; */
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1200px;
    margin-inline: auto;
  }

  /* Responsive: colonne dinamiche */
:root { --cols: 1; }
@media (min-width: 420px) { :root { --cols: 2; } }
@media (min-width: 600px) { :root { --cols: 3; } }
@media (min-width: 900px) { :root { --cols: 4; } }
@media (min-width: 1200px) { :root { --cols: 5; } }


.flex > img {
    flex: 0 0 calc((100% - (var(--cols) - 1) * 16px) / var(--cols));
    object-fit: cover;
    border-radius: var(--radius);
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 6px 18px rgba(0,0,0,.25);
  
}


